/* Navbar */

.navbar{
  margin-top: 15px;
}

.navbar-brand{
  font-family: "Shadows Into Light";
  color: black;
  font-size: 60px;
  font-weight: bold;
  margin-left: 16px;
}

#navbarNav li a{
  font-family: "Source Code Pro", monospace;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
  -moz-transition: all .5s; 
  -webkit-transition: all .5s; 
  -o-transition: all .5s; 
  transition: all .5s;
}

  /* Footer */
  
 .footer-bottom{ 
    background-color: #F4F6F7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .pull-left{
    padding : 15px;
    margin : 0px;
    line-height : 100%;
    text-align: center;
    font-size: 0.8em;
  }

  /* réseaux sociaux */


  .social-links {
    list-style-type: none;
    padding-top: 0px;
    margin: 0px;
  }

  .social-links li{
    display: inline-block;
    text-align: center;
  }

  .fa {
    padding: 5px;
    font-size: 22px;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    color: #808080;
  }
    
  
  /* a:hover */

  #navbarNav li a:hover{
    color:#40A497;
    padding-left: 20px;
    width: 130px;
    -moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
  }

  .nav-item:hover .fa-pinterest{ 
      background: #cb2027;
      color: white;
    }
  
 .nav-item:hover .fa-facebook{ 
   background: #3b5998;
   color: white;
}

.nav-item:hover .fa-instagram{ 
  background: #cd486b;
  color: white;
}

   /*COULEUR FOND DE PAGES */

   body {
    background-color: lightgrey;
  }
