/* MENU */


.navbar-brand{
    font-family:"Alex Brush'", cursive;
    font-weight: bold;
}

.container-nav li a{
    font-family: "Source Code Pro", monospace;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}


.container-header{
    margin-top: 20px;
}


/**** CONTACT ****/


.contact {
    padding: 50px 0 80px;
}

.contact h2 {
    margin: 20px 0 20px;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .input-group-lg {
    margin-bottom: 25px;
}

.contact .form-check {
    margin-bottom: 5px;
}

.contact .btn {
    border-radius: 0;
    width: 100%
    font-size: 15px;
    float: right;
}

.img-fluid {
    height: 500px;
    width: 500px;
    /*margin: 50px 100px 0px 0px;*/
}
