/**** CONTACT ****/

.contact {
    padding: 50px 0 80px;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .input-group-lg {
    margin-bottom: 25px;
}

.contact .form-check {
    margin-bottom: 5px;
}

.contact .btn {
    border-radius: 0;
    /* width: 100%; */
    font-size: 15px;
    float: right;
    margin: 0 10px;
}

.img-fluid {
    height: 500px;
    width: 500px;
    /*margin: 50px 100px 0px 0px;*/
}
